@media screen and (max-width:768px) {
    .home {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

    .home .img {
        padding: 20px;
    }

    .home .img img{
        width: 30rem;
        height: 20rem;
        margin: auto;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sobre .pag-1 {
        width: auto;
        margin: auto;
    }

    .sobre .desc {
        width: auto;
    }


    .fazer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .fazer h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .fazer .desc-2 p {
        margin-top: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .venda {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 35rem;
    }
}